# OS
.DS_Store
Thumbs.db

# IDE
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# .NET build
[Bb]in/
[Oo]bj/
[Ll]og/
*.cache/
*.dbmdl
*.jfm
*.nupkg
*.snupkg
*.svclog
TestResult*/
artifacts/

# EF Core
*.designer.cs

# Node
node_modules/
**/node_modules/
**/dist/
**/build/
**/.parcel-cache/
**/.turbo/
**/.next/
**/.nuxt/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files (do not commit secrets)
.env
**/.env
.env.local
**/.env.local

# Coverage / Reports
coverage/
.cypress/

# Misc
*.DS_Store
*.orig
*.tmp
